body {
 background: url(Headerbg.svg) no-repeat;
  background-size: auto;
  line-height: 1;
  margin: 0;
  }

nav{
width: 100;
margin-bottom: 100px;
margin-right: 120px;
margin-left: 30px;
margin-top: 0;
clear:both;
  } 

 nav ul {
  overflow: hidden;
  list-style: none;
  text-decoration: none;
  
 }
 
 ul.topnav li {
list-style: none;
  float: left;
   }

   ul.topnav li a {
    display:block;
    text-decoration: none;
     text-align: center;
     padding: 14px;
   }
 ul.topnav li.topnav-right {
  float: right;
    } 
   ul.topnav li.topnavlogo {
       font-weight: bolder;
    color: rgb(110, 187, 218);
   }

   .flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 130px;
  }
 .name {
    width: 420px;
    height: 122px;
  }
  .description {
    width: 920px;
    height: 98px;
  }

